body{
    background-color: black;
    color: aliceblue;
    
    
}
.border{
    border: 4px solid lightblue;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.item-center{
    align-items: center;
} 

.left{
    width: 25vw;
}

.right{
    width: 25vw;
}
